<!-- 詳細画面の表示項目（暫定で一覧と同じにしたが、必要に応じて追加）-->
<div class="row">
    <div class="col-3">
        <p>管理籍</p>
    </div>
    <div class="col-3">
        <p>{{ item.department }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>製品名</p>
    </div>
    <div class="col-9">
        <p>{{ item.name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>中型</p>
    </div>
    <div class="col-9">
        <p>{{ item.mold_code }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>製造年月</p>
    </div>
    <div class="col-9">
        <p>{{ item.manufacture_date|date:"Y/m" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>外寸長さ</p>
    </div>
    <div class="col-9">
        <p>{{ item.outer_length }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>外寸幅</p>
    </div>
    <div class="col-9">
        <p>{{ item.outer_width }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>外寸高さ</p>
    </div>
    <div class="col-9">
        <p>{{ item.outer_height }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>内寸長さ</p>
    </div>
    <div class="col-9">
        <p>{{ item.inner_length }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>内寸幅</p>
    </div>
    <div class="col-9">
        <p>{{ item.inner_width }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>内寸高さ</p>
    </div>
    <div class="col-9">
        <p>{{ item.inner_height }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>蓋</p>
    </div>
    <div class="col-9">
        <p>{{ item.is_lid }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>蓋付</p>
    </div>
    <div class="col-9">
        <p>{{ item.is_with_lid }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>用途</p>
    </div>
    <div class="col-9">
        <p>{{ item.usage_notes|linebreaksbr }}</p>
    </div>
</div>
